@model WebApp.Models.nota_salida

@{
    ViewData["Title"] = "Details";
}

<h1>NOTA DE SALIDA</h1>

<div>
    <h4>nota_salida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nro_doc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nro_doc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_emis)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.fecha_emis)    <!--mod to text-->            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.programacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.programacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.raz_social)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.raz_social)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_vendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_sucursal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updated_at)
        </dd>
    </dl>
</div>

<!--tabla detalle salidas-->

    <h4>Detalle</h4>
<p>
    <a class="btn btn-success" asp-controller="detalle_salida" asp-action="Create">Agregar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                id_nsalida
            </th>
            <th>
                item
            </th>
            <th>
                lote
            </th>
            <th>
                fecha_venc
            </th>
            <th>
                serie
            </th>
            <th>
                cantidad
            </th>
            <th>
                estado
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.detalle_salida) {
        <tr>
            <td>
                @item.id_nsalida
            </td>
            <td>
                @item.item.id
            </td>
            <td>
                @item.lote
            </td>
            <td>
                @item.fecha_venc
            </td>
            <td>
                @item.serie
            </td>
            <td>
                @item.cantidad
            </td>
            <td>
                @item.estado
            </td>
            
            <td>
                <a asp-controller="detalle_salida" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <!-- <a asp-action="Details" asp-route-id="@item.id">Details</a> |  -->
                <a asp-controller="detalle_salida" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
