@model WebApp.Models.detalle_salida

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>detalle_salida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_nsalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_nsalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_venc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_venc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item.id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="nota_salida" asp-action="Details" asp-route-id="@(Model.id_nsalida)" >Back to List</a>  <!--mod to add route back-->
    </form>
</div>
