@model WebApp.Models.detalle_salida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>detalle_salida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_nsalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_nsalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_venc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_venc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.item.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
