@model IEnumerable<WebApp.Models.item>

@{
    ViewData["Title"] = "Index";
}

<h1>Contenido principal</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo</a>
</p>

            <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                       <th>
                            @Html.DisplayNameFor(model => model.codigo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.unidad_med)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.precio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.maximo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.minimo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.vida_util)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.estado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.subcategoria)
                        </th>
                        <!--
                        <th>
                            @Html.DisplayNameFor(model => model.created_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.updated_at)
                        </th>  --> 
                        <th></th> 
                    </tr>
                </thead>
                                    
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.unidad_med)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.maximo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.minimo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vida_util)
                        </td>
                        <td>
                            @{switch (item.estado){
                                case 1:
                                    <text>Habilitado</text>
                                break;
                                default:
                                    <text>DesHabilitado</text>
                                break; } 
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.subcategoria.codigo)
                        </td>
                        <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.created_at)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updated_at)
                        </td>  --> 
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <!-- <a asp-action="Details" asp-route-id="@item.id">Details</a> |  -->
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                    }
                                        
                </tbody>
            </table>
        </div>
    </div>
</div>
